<!DOCTYPE html>
<html>
  <head>
    <title>WhatsThat_Bot</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <br><br><br><br><br><br><br>
    
    <main class="container">
      <center><h1><a href="http://telegram.me/WhatsThat_Bot">💬 WhatsThat_Bot</a></h1></center>
    </main>

  </body>
</html>
